<ion-side-menus>
    <ion-side-menu-content scroll="false">
        <div class="bar bar-header item-input-inset bar-positive" style="  overflow: initial;">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="text" ng-model="asyncSelected" placeholder="Search" typeahead="address.formatted_address  for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="addToMap($item)"  class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

            </label>

        </div>

        <map on-create="mapCreated(map)"></map>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <div class="list">

            <div class="item item-divider">
                <a class="button button-icon icon ion-minus-circled" ng-model="shouldShowDelete" ng-click="shouldShowDelete=!shouldShowDelete" style="color:red;display:inline-block;"></a> <h2 style="display:inline-block;  vertical-align: -webkit-baseline-middle;" class="title">History</h2>
            </div>

            <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
                <ion-item ng-click="addPoint($index)" ng-repeat="point in points" menu-toggle="left">
                    <ion-delete-button class="ion-minus-circled" ng-click="deletePoint($index)"></ion-delete-button>
                    {{point.name}}
                </ion-item>
            </ion-list>
        </div>
    </ion-side-menu>


</ion-side-menus>

<ion-footer-bar class="bar-positive">
    <a class="tab-item" ng-click="centerOnMe()">
        <i class="icon ion-navigate"></i> My Location
    </a>
    <a class="tab-item" ng-click="clearPoint()">
        <i class="icon ion-trash-a"></i> Destination
    </a>
    <a class="tab-item" ng-click="logOut();">
        <i class="icon ion-log-out"></i> Settings
    </a>
</ion-footer-bar>